<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script id="dsq-count-scr" src="//prate.disqus.com/count.js" async></script>
    <title>watch | <%= anime.title %></title>
    <style>
        :root {
            --text-gray: #858585;
            --text-darkgray: hsla(289, 12%, 17%, 0.79);
            --text-white: hsl(120, 15%, 76%);
            --text-black: hsl(339, 70%, 6%);
            --background-yellow: hsl(92, 78%, 29%);
            --background-primary: #1a1a1a;
            --background-secondary: #333333;
        }

        body {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding: 0;
            margin: 0;
            background-color: var(--background-primary);
            color: var(--text-white);
            font-family: Arial, Helvetica, sans-serif;
        }

        body::-webkit-scrollbar {
            width: 10px;
        }

        body::-webkit-scrollbar-track {
            background: var(--background-primary);
        }

        body::-webkit-scrollbar-thumb {
            background: var(--background-secondary);
        }

        main {
            display: flex;
            margin: 1rem 1rem;
            flex-direction: column;
            gap: 0.24rem;
            width: 100%;
            max-width: 70%;
        }

        h2 {
            display: flex;
            flex-direction: column;
            margin: 15px 0;
            gap: 5px;
        }

        h2 span {
            font-size: 15px;
        }

        iframe {
            width: 100%;
            aspect-ratio: 16/9;
            border-radius: 0.24rem;
        }

        .episodes {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            gap: 1.05rem;
        }

        .episodes a {
            background-color: var(--background-secondary);
            color: var(--text-white);
            text-align: center;
            padding: 12px;
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            font-size: 12px;
            font-weight: 600;
        }

        .episodes a:visited {
            background-color: var(--text-darkgray);
        }

        .episodes a span {
            padding-left: 7px;
            border-left: solid 2px var(--text-gray);
            color: var(--text-gray);
            display: flex;
            align-items: center;
            white-space: nowrap;
            margin-left: auto;
        }

        .comment-section {
            margin-top: 20px;
        }

        @media only screen and (max-width: 600px) {
            body {
                font-size: 0.75rem;
            }

            main {
                width: 90%;
                margin: 1rem 0.24rem;
                max-width: 100%;
            }

            .episodes {
                gap: 0.75rem;
                grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
            }

            .episodes a {
                padding: 10px;
            }
        }

        #disqus_thread {
            width: 100%;
        }

        #disqus_thread p {
            color: var(--blue);
        }

        #disqus_thread a {
            color: var(--blue);
        }
    </style>
</head>
<body>
    <main>
        <h2><%= dub == "true" ? anime.title_english : anime.title %><span>Episode <%= episode %> <%= dub == "true" ? "(English Dubbed)" : "(English Subbed)" %></span></h2>
        <iframe src="<%= source %>" frameborder="0" scrolling="no" allowfullscreen></iframe>
        <div class="content">
            <h2></h2>
        </div>
        <div class="episodes">
            <% for (let i = 1; i <= maxEpisodes; i++) { %>
                <a href="<%= baseUrl %>/anime/<%= anime.title.replace(/ /g, "-").replace(/[^a-zA-Z0-9-]/g, "").toLowerCase() %>?id=<%= anime.mal_id %>&ep=<%= i %>&dub=<%= dub %>" <% if (i == episode) { %>style="background-color: var(--background-yellow); color: var(--text-black);"<% } %> >EP <%= i %><span><%= dub == "false" ? "SUB" : "DUB" %></span></a>
            <% } %>
        </div>
        <div class="comment-section">
            <div id="disqus_thread"></div>
        </div>
    </main>
    <address style="display: none;" id="identifier"><%= anime.mal_id %>-<%= episode %>-<%= dub %></address>
    <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
        
        var disqus_config = function () {
        this.page.url = window.location.href;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = document.getElementById('identifier').textContent; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://prate.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    </script>
</body>
</html>
